@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.font-lilita {
  font-family: 'Lilita', serif;
}
/* En tu archivo de estilos CSS personalizado, por ejemplo, styles.css */
.green-aqua {
  color: #7FFFD4; /* Código hexadecimal para el color verde agua */
}
.dark-green {
  color: #08d698; /* Código hexadecimal para un tono de verde más oscuro */
}